@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../fonts/Gotham/Gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("../fonts/Gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("../fonts/Gotham/Gotham-MediumIta.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("../fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}
/* normalize-scss 3.0.0-alpha.2+normalize.3.0.0 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 101, ../src/sass/lib/_normalize.scss */
html {
  font-family: "Gotham-Book", serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 113, ../src/sass/lib/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9. Correct `block` display
 * not defined on `summary` and `details` in IE and Firefox and on `main` in IE.
 */
/* line 125, ../src/sass/lib/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 145, ../src/sass/lib/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 164, ../src/sass/lib/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 174, ../src/sass/lib/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 183, ../src/sass/lib/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 195, ../src/sass/lib/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 204, ../src/sass/lib/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE, Safari 5, and Chrome.
 */
/* line 216, ../src/sass/lib/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 224, ../src/sass/lib/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 234, ../src/sass/lib/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 243, ../src/sass/lib/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 258, ../src/sass/lib/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 267, ../src/sass/lib/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 282, ../src/sass/lib/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 288, ../src/sass/lib/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 294, ../src/sass/lib/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 300, ../src/sass/lib/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 306, ../src/sass/lib/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 318, ../src/sass/lib/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 329, ../src/sass/lib/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 339, ../src/sass/lib/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 347, ../src/sass/lib/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 355, ../src/sass/lib/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 363, ../src/sass/lib/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 367, ../src/sass/lib/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 379, ../src/sass/lib/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 396, ../src/sass/lib/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 404, ../src/sass/lib/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 416, ../src/sass/lib/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 431, ../src/sass/lib/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow displayed in IE.
 */
/* line 444, ../src/sass/lib/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 456, ../src/sass/lib/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 465, ../src/sass/lib/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 483, ../src/sass/lib/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 497, ../src/sass/lib/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: "Gotham-Book", serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE.
 */
/* line 515, ../src/sass/lib/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 526, ../src/sass/lib/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 541, ../src/sass/lib/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 556, ../src/sass/lib/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 565, ../src/sass/lib/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 576, ../src/sass/lib/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 591, ../src/sass/lib/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 608, ../src/sass/lib/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 619, ../src/sass/lib/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 629, ../src/sass/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 639, ../src/sass/lib/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 655, ../src/sass/lib/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE.
 */
/* line 669, ../src/sass/lib/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 678, ../src/sass/lib/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 689, ../src/sass/lib/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 694, ../src/sass/lib/_normalize.scss */
td,
th {
  padding: 0;
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../src/sass/lib/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 118, ../src/sass/lib/font-awesome/_icons.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 155, ../src/sass/lib/font-awesome/_icons.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 156, ../src/sass/lib/font-awesome/_icons.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 157, ../src/sass/lib/font-awesome/_icons.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 218, ../src/sass/lib/font-awesome/_icons.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 9, ../src/sass/base/_base.scss */
html {
  background: #00a9b4;
}

/* line 13, ../src/sass/base/_base.scss */
body {
  background: #fff;
  box-shadow: -5px 0 0 #92bb44, -10px 0 0 rgba(146, 187, 68, 0.75), -15px 0 0 rgba(146, 187, 68, 0.5), -20px 0 0 rgba(146, 187, 68, 0.25), 5px 0 0 #92bb44, 10px 0 0 rgba(146, 187, 68, 0.75), 15px 0 0 rgba(146, 187, 68, 0.5), 20px 0 0 rgba(146, 187, 68, 0.25);
  color: #333333;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

/* line 29, ../src/sass/base/_base.scss */
header,
footer {
  padding: 20px 0;
  vertical-align: middle;
}

/* line 35, ../src/sass/base/_base.scss */
header {
  border-bottom: 10px solid #edab23;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
/* line 41, ../src/sass/base/_base.scss */
header nav {
  position: absolute;
  top: 0;
  right: 10px;
}
/* line 47, ../src/sass/base/_base.scss */
header ul {
  margin: 0;
}
/* line 49, ../src/sass/base/_base.scss */
header li {
  display: inline-block;
  margin: 0 .25em;
}

/* line 55, ../src/sass/base/_base.scss */
footer {
  border-top: 10px solid #edab23;
  margin-top: 20px;
  text-align: center;
}
/* line 61, ../src/sass/base/_base.scss */
footer nav ul {
  padding: 0;
}
/* line 63, ../src/sass/base/_base.scss */
footer nav li {
  display: inline-block;
  margin: 0 1em;
}
/* line 69, ../src/sass/base/_base.scss */
footer .fa {
  font-size: 2em;
}

/* line 72, ../src/sass/base/_base.scss */
a {
  color: #8b0036;
}
/* line 74, ../src/sass/base/_base.scss */
a:hover {
  color: #f05b62;
}
