/*
  Important styles - (used by this app and must be included in own stylesheet )
*/
.tweet_rotator { overflow: hidden;  position: relative; background-image: url(../img/overlay.png); background-repeat: repeat-x;  }
.tweet_holder { position: relative; }
.tweetparent { overflow: hidden;  }
.tweetbox { display: block;  padding: 15%; text-align: left; }
.tweet_rotator ul.nav { position: absolute; bottom: 0px; right: 0px; padding: 5px;}
.tweet_rotator ul.nav li { cursor: pointer; width: 20px; height: 20px; background-image: url(../img/sprite.png); background-repeat: no-repeat; display: block; }
.tweet_rotator ul.nav li.active { background-position: 0px -20px; }

/* Tweet rotator colors */
/*.color_1  { background-color: #06bbfe; }*/ /* Base color, and so on */
/*.color_2  { background-color: #a300c6; }*/
/*.color_3  { background-color: #ffda10; }*/
/*.color_4  { background-color: #fe0b8f; }*/
/*.color_5  { background-color: #ff8315; }*/
/*.color_6  { background-color: #ff1800; }*/
.color_1  { background-color: #06bbfe; } /* Base color, and so on */
.color_2  { background-color: #00A9B4; }
.color_3  { background-color: #EDAB23; }
.color_4  { background-color: #8B0036; }
.color_5  { background-color: #92BB44; }
.color_6  { background-color: #F05B62; }
/*
  End of app styles
*/



/*
  General app styling
*/
html { background: #333; }
body { text-align: center; padding-top: 0; }
#example, #example_vert, #example_nocolor { width: 100%; height: 1000px; margin: auto;   }
.tweetbox .profile-img { float: left; margin-right: 20px; height: 500px;}
.tweetbox .profile-img img { height: 200px; border: 5px solid #000; }
.tweetbox span { font-family: 'Droid Sans', serif; font-size: 18px; color: #fff; text-transform: uppercase; }
.tweetbox span a { color: #fff; text-decoration: none; }
.tweetbox p { padding-top: 15px; font-family: 'Droid Sans', serif; font-size: 42px; color: #fff; font-weight: 700; letter-spacing: 0.010em; line-height: 1.25em; padding-bottom: 20px; word-spacing: 0.04em; }
.tweetbox p a { color: #000; }
.tweetbox em { font-family: 'Droid Sans', serif; font-size: 12px; color: #fff; text-transform: uppercase;  }
.shadow { background-image: url("../img/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 42px; }

/* Alternative colors */
.color_alt_1  { background-color: #a300c6; } /* Base color, and so on */
.color_alt_2  { background-color: #ff1800; }
.color_alt_3  { background-color: #06bbfe; }
.color_alt_4  { background-color: #fe0b8f; }
.color_alt_5  { background-color: #ff1800; }
.color_alt_6  { background-color: #ff8315; }

