%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  background: $gdi--blue;
}

body {
  background: #fff;
  box-shadow: -5px 0 0 $gdi--green,
              -10px 0 0 rgba($gdi--green, .75),
              -15px 0 0 rgba($gdi--green, .5),
              -20px 0 0 rgba($gdi--green, .25),
              5px 0 0 $gdi--green,
              10px 0 0 rgba($gdi--green, .75),
              15px 0 0 rgba($gdi--green, .5),
              20px 0 0 rgba($gdi--green, .25);
  color: $body--color;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

header,
footer {
  padding: 20px 0;
  vertical-align: middle;
}

header {
  border-bottom: 10px solid $gdi--yellow;
  margin-bottom: 20px;
  position: relative;
  text-align: center;

  nav {
    position: absolute;
    top: 0;
    right: 10px;
  }

  ul { margin: 0; }

  li {
    display: inline-block;
    margin: 0 .25em;
  }
}

footer {
  border-top: 10px solid $gdi--yellow;
  margin-top: 20px;
  text-align: center;

  nav {
    ul { padding: 0; }

    li {
      display: inline-block;
      margin: 0 1em;
    }
  }

  .fa { font-size: 2em; }
}

a {
  color: $link--color;
  &:hover { color: $link--color--hover; }
}
