*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { margin: 0; }

h1, h2, h3, h4, h5, h6 { @extend %font--medium; }
b, strong              { @extend %font--bold; }
i, em                  { @extend %font--italic; }

a {
  @extend %transition;
  color: $link--light--color;
  text-decoration: none;

  .fa { @extend %transition; }

  &:hover {
    @extend %transition;
    color: $link--light--color--hover;

    .fa {
      @extend %transition;
      @include transform(scale(1.1));
    }
  }
}

footer {
  margin-top: 2em;
  text-align: center;

  .fa { font-size: 2em; }
}

nav ul { margin: 0; padding: 0; }

[class*="list--horz"] {
  li {
    display: inline-block;
    margin: 0 1em;
  }

  &.list--cozy li    { margin: 0 .5em; }
  &.list--compact li { margin: 0 .25em; }
}
