
// Typography

$base-font-family: "Gotham-Book", Verdana, "Trebuchet MS", Arial, serif;


// Icon Fonts

$fa-font-path: "../fonts/fontawesome";


// Color Pallete

$white:         #ffffff;
$grey--light:   #f4f4f4;
$grey:          #333333;
$blue:          #00A9B4;
$green:         #92BB44;
$maroon:        #8B0036;
$yellow:        #EDAB23;
$pink:          #F05B62;

$link--light--color:        $maroon;
$link--light--color--hover: $pink;

$link--dark--color:         $yellow;
$link--dark--color--hover:  $pink;


// Grid

$susy: (
  gutter-position: inside,
  columns: 12,
  gutters: 1,
  column-width: 3.25em,
  global-box-sizing: border-box
);
