[submodule "events/html-css"]
	path = events/html-css
	url = git@github.com:gdiannarbor/intro-html-css.git
[submodule "events/teacher-training"]
	path = events/teacher-training
	url = git@github.com:gdiannarbor/teacher-training.git
[submodule "events/intro-pc"]
	path = events/intro-pc
	url = git@github.com:gdiannarbor/intro-programming-concepts.git
[submodule "events/organizer-training"]
	path = events/organizer-training
	url = git@github.com:gdiannarbor/organizer-training.git
[submodule "events/intro-ruby"]
	path = events/intro-ruby
	url = git@github.com:gdiannarbor/intro-ruby.git
