[submodule "events/html-css"]
	path = events/html-css
	url = git@github.com:gdiannarbor/intro-html-css.git
[submodule "events/teacher-training"]
	path = events/teacher-training
	url = git@github.com:gdiannarbor/teacher-training.git
[submodule "events/intro-pc"]
	path = events/intro-pc
	url = git@github.com:gdiannarbor/intro-programming-concepts.git
[submodule "events/organizer-training"]
	path = events/organizer-training
	url = git@github.com:gdiannarbor/organizer-training.git
[submodule "events/intro-ruby"]
	path = events/intro-ruby
	url = git@github.com:gdiannarbor/intro-ruby.git
[submodule "events/tech-101"]
	path = events/tech-101
	url = git@github.com:gdiannarbor/tech-101.git
[submodule "events/intro-git"]
	path = events/intro-git
	url = git@github.com:gdiannarbor/intro-git-github.git
[submodule "events/intro-java"]
	path = events/intro-java
	url = git@github.com:gdiannarbor/intro-oop-java.git
[submodule "events/intro-python"]
	path = events/intro-python
	url = git@github.com:gdiannarbor/intro-python.git
[submodule "events/intro-terminal"]
	path = events/intro-terminal
	url = git@github.com:gdiannarbor/intro-command-line.git
[submodule "events/intro-javascript"]
	path = events/intro-javascript
	url = git@github.com:gdiannarbor/intro-javascript.git
[submodule "events/intro-wordpress"]
	path = events/intro-wordpress
	url = git://github.com/gdiannarbor/intro-wordpress.git
[submodule "events/intro-seo"]
	path = events/intro-seo
	url = git@github.com:gdiannarbor/intro-seo.git
[submodule "events/lightning"]
	path = events/lightning
	url = git@github.com:gdiannarbor/lightning-talk-workshop.git
[submodule "events/photoshop"]
	path = events/photoshop
	url = git@github.com:gdiannarbor/photoshop-workshop.git
[submodule "intro-databases"]
	path = intro-databases
	url = git@github.com:gdiannarbor/intro-databases.git
[submodule "events/intermediate-python"]
	path = events/intermediate-python
	url = https://github.com/camdroid/intermediate-python
