.white       { color: $white; }
.grey--light { color: $grey--light; }
.grey        { color: $grey; }
.blue        { color: $blue; }
.green       { color: $green; }
.maroon      { color: $maroon; }
.yellow      { color: $yellow; }
.pink        { color: $pink; }
