body {
border: 0;
margin: auto;
width: 1000px;
padding: 10px;
font-family:Arial, Verdana, Helvetica, sans-serif;
line-height:25px;
text-align:justify;
}

header {
text-align: center;
margin: auto;
width: 400px;
background-color: transparent;
}

.header{
  position: relative;
  width: 100%;

}

h1 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  font-size: 50px;
}

.circular {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  box-shadow: 0 0 8px rgba(0, 0,0, .8);
  border: 10px solid  #EDF1E8;
}

.main_list {
  text-align: left;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 15px 4px 17px 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0,0.15);
}
.list_tier_1 {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: Gainsboro;
  cursor: pointer;
   -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.list_tier_1:hover {
  background:#ADEBEB;
  color: black;
}
.secondary_list{
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li {
  background: #ADEBEB;
  display: block;
  opacity: 1;
  color: #fff;
  }

ul li ul:hover { background: #ADEBEB}

ul li:hover ul{
  display: block;
  opacity: 1;
  visibility: visible;
}

aside {
  padding: 10px;
  border: 10px ridge #EDF1E8;
  margin: 0 auto;

}

.aside_positionRight {
  float: right;
  width: 300px;
}

.aside_positionLeft {
  float: left;
  width: 600px;
}

footer {
  margin: 0 auto;
  padding: 10px;
  float: below;
  clear: both;
}

.textwrap {
  float:right;
  margin: 10px;
}

html {
  background-color: #E3E8BD;
  background-image: url('images/floral_design_background.jpg');
  background-repeat: repeat-x;
}
